<div class="row">
  <h2 class="list-facility" style="font-family: 'Nirmala UI'">Danh Sách Hợp Đồng</h2>
  <div class="list-facility-subtitle">
    <p>
      <a class="dropdown-item" href="create.html" style="color: blue">
        <svg style="width: 30px;height: 20px" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
             fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd"
                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        Thêm Mới Hợp Đồng</a>
    </p>
  </div>
</div>
<div class="row">
  <table class="table table-striped table-bordered" id="contractTable">
    <thead>
    <tr>
      <th>Customer Name</th>
      <th>Start Day</th>
      <th>End Day</th>
      <th>Service</th>
      <th>Depotit</th>
      <th>Update</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>

    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
    <tr>
      <td>William Bùi</td>
      <td>12/09/2022</td>
      <td>21/09/2022</td>
      <td>Villa 1</td>
      <td>2000000</td>
      <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
    </tr>
  </table>
</div>

