<div class="p-3 px-5">
  <h2 class="text-center fw-bold text-dark mt-3">
    DANH SÁCH KHÁCH HÀNG</h2>


  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a routerLink="/customer/create">
        <button class="btn btn-dark btn-outline-secondary">
          <i class="fa-solid fa-person-circle-plus text-light"></i>
          <span class="text-light"> Thêm mới khách hàng</span>
        </button>
      </a>

      <div class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Nhập tên.." aria-label="Search"
               [(ngModel)]="customerNameSearch">
        <button class="btn btn-light btn-outline-primary" (click)="paginate()">
          <i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </nav>

  <table class="table table-light table-striped table-bordered" id="customerTable">
    <thead>
    <tr class="table text-light" style="background: dodgerblue">
      <th class="text-center">STT</th>
      <th>Tên khách hàng </th>
      <th>Ngày sinh </th>
      <th>Giới tính</th>
      <th>CMND/CCCD </th>
      <th>SĐT </th>
      <th>Địa chỉ </th>
      <th>Email </th>
      <th>Loại khách </th>
      <th class="text-center">Sửa</th>
      <th class="text-center">Xóa</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of (customerList$ | async); index as i">
      <td class="text-center">{{i + 1 +(page-1)*pageSize}}</td>
      <td>{{item.customerName | titlecase}}</td>
      <td>{{item.birthday | date: "dd/MM/yyyy"}}</td>
      <td>
        <span *ngIf="item.gender == 0">Nam</span>
        <span *ngIf="item.gender == 1">Nữ</span>
        <span *ngIf="item.gender == 2">LGBT</span>
      </td>
      <td>{{item.idCard}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.address}}</td>
      <td>{{item.email}}</td>
      <td>{{item.customerType.customerTypeName}}</td>
      <td class="text-center">
        <a routerLink="/customer/edit/{{item.id}}">
          <button class="btn btn-primary btn-sm">
            <i class="fa-solid fa-pen-to-square text-light"></i>
          </button>
        </a>
      </td>
      <td class="text-center">
        <button data-bs-toggle="modal" data-bs-target="#deleteCustomer"
                class="btn btn-danger btn-outline-secondary btn-sm"
                (click)="getInfoCustomerDelete(item.customerName, item.id)">
          <i class="fa-solid fa-user-xmark text-light"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="page"
      [maxSize]="5"
      [pageSize]="pageSize"
      (pageChange)="paginate()"
    >
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="paginate()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

<!--  <nav aria-label="..." class="justify-content-center d-flex">-->
<!--    <ul class="pagination">-->
<!--      <li class="page-item">-->
<!--        <a class="page-link" (click)="previos()" *ngIf="curPage > 1">&laquo; Trang trước</a>-->
<!--      </li>-->
<!--      <li class="page-item disabled" *ngIf="curPage <= 1">-->
<!--        <a class="page-link">&laquo;</a>-->
<!--      </li>-->

<!--      <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"></a>-->
<!--      </li>-->

<!--      <li class="page-item">-->
<!--        <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>-->
<!--      </li>-->
<!--      <li class="page-item disabled" *ngIf="curPage >= totalPage">-->
<!--        <a class="page-link">&raquo;</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</div>-->

<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalCSS">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <span class="h6">Khách hàng:</span><strong class="text-danger ps-2">{{customerNameDelete}}</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer()">Xóa</button>
      </div>
    </div>
  </div>
</div>
</div>
