<header class="header">
  <div class="header-with-search">
    <div class="header__logo">
      <a href="#" class="header__logo-link">
        <div class="header__logo-text">
          <b>CODEGYM</b>
          <span>co5</span>
        </div>
      </a>
    </div>
    <div class="header__search">
      <div class="header__search-input-wrap">
        <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm">
        <div class="header__search-history">
        </div>
      </div>
      <a href="">
        <button class="header__search-btn">
          <i class="header__search-btn-icon fas fa-search"></i>
        </button>
      </a>
    </div>
    <a href="" class="">
      <button class="header__search-btn2">
        Tìm kiếm nâng cao
      </button>
    </a>
  </div>
  <div class="header__navbar">
    <ul class="header__navbar-list">
      <ul class="header__navbar-item"><a href="">Home</a></ul>
      <li class="header__navbar-item"><a href="">Phim Hôm Nay</a></li>
      <li class="header__navbar-item"><a href="">Phim Sắp Chiếu</a></li>
    </ul>
  </div>
</header>
