
  <div class="row">
    <header id="header">
      <div id="one" class="row">
        <div class="col-sm-3 col-lg-3 col-md-3 head">
          <img  src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" width="280px" height="80px">
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 head">
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 head ">
          <p class="header-p"><i class="fa-solid fa-location-dot"></i>
            103 - 105 Vo Nguyen Giap Street,<br>
            Khue My Ward, Ngu Hanh Son District,<br>
            Danang City, Vietnam<br>
            7,0 km from Danang Airport
          </p>
        </div>
        <div class="col-sm-3 col-lg-3 col-md-3 head ">
          <p class="header-p"><i class="fa-solid fa-phone"></i>84-236-3847
            333/888</p>
          <p><i class="fa-solid fa-envelope-circle-check"></i>reservation@furamavietnam.com
          </p>
        </div>
      </div>
    </header>
  </div>

