<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
<style>
    nav {
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-color: white;
        background-image: url("https://wallpapercave.com/wp/DAVew11.jpg");
    }
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }


</style>
</head>
<body>
    <div class="row">
        <header class="text-center" style="height: 100px">
            <div style="background-color: cornsilk; border-top: 5px solid burlywood" class="row">
                <div class="col-sm-3 col-lg-3 col-md-3 head">
                    <img src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" width="280px" height="80px"
                         style="margin-top: 25px;margin-left: 40px">
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 head">
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 head ">
                    <p style="margin-top: 20px;font-family: 'Nirmala UI'"><i class="fa-solid fa-location-dot"></i>
                        103 - 105 Vo Nguyen Giap Street,<br>
                        Khue My Ward, Ngu Hanh Son District,<br>
                        Danang City, Vietnam<br>
                        7,0 km from Danang Airport
                    </p>
                </div>
                <div class="col-sm-3 col-lg-3 col-md-3 head ">
                    <p style="margin-top: 20px"><i class="fa-solid fa-phone ;font-family: 'Nirmala UI'"></i>84-236-3847
                        333/888</p>
                    <p><i class="fa-solid fa-envelope-circle-check" style="font-family: 'Nirmala UI'"></i>reservation@furamavietnam.com
                    </p>
                </div>
            </div>
        </header>
    </div>
    <div>
    <nav class="row navbar navbar-expand-lg bg-light d-flex stick-top">
        <div class="col-4">
            <a class="navbar-brand text-light" href="layout.html"><i class="fa-sharp fa-solid fa-house"></i></a>
            <div class="collapse navbar-collapse" style="float: right">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Khách Hàng
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@{/customer}">Danh Sách Khách Hàng</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="@{/customer/create}">Thêm Khách Hàng</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Nhân Viên
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@{/employee}">Danh Sách Nhân Viên</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="@{/employee/create}">Thêm Nhân Viên</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dịch Vụ
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="list.html">Danh Sách Dịch Vụ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="@{/facility/create}">Thêm Dịch Vụ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Hợp Đồng
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@{/contract}">Danh Sách Hợp Đồng</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="@{/contract/create}">Thêm Hợp Đồng</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8" style="margin-right: 20px">
            <h2 style="font-family: 'Times New Roman';color: white;">
                <marquee style="font-family:'Nirmala UI'">
                    FURAMA RESORT XIN KÍNH CHÀO QUÝ KHÁCH!
                </marquee>
            </h2>
        </div>
    </nav>
    </div>

</body>
</html>